body {
  display: contents;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
}

.nab {
  margin-right: 25px;
  margin-top: 20px;
  margin-left: 20px;
}

.navbar a,
.nab a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin-left: 15px;
}

.navbar:hover {
  text-decoration: underline;
}

.nap:hover {
  text-decoration: underline;
}

.main {
  margin-top: 300px;
  text-align: center;
}

.input-area {
  margin-top: 10px;
}

.input-box {
  width: 584px;
  height: 46px;
  border-radius: 24px;
  border: 1px solid #dfe1df;
  padding-left: 40px;
  padding-right: 40px;
}

.search-icon {
  position: relative;
  left: 40px;
  color: #9aa0a6;
}

.search-icon:hover {
  color: black;
}

.mic-icon {
  position: relative;
  right: 40px;
  color: #9aa0a6;
}

.mic-icon:hover {
  color: red;
}

.button-area {
  padding-top: 18px;
}

.button-style {
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-family: arial, sans-serif;
  padding: 0 16px;
  margin: 11px 4px;
}

.button-style:hover {
  border-radius: 4px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.language-line {
  margin-top: 10px;
  font-family: arial, sans-serif;
}

.offered-item {
  color: blue;
  text-decoration: none;
}

.offered-item:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #f2f2f2;
  width: 100%;
}

.first-line {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.second-line {
  padding: 15px 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.second-line-second {
  float: right;
}

.second-line a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.54);
  padding-right: 15px;
}

.second-line a:hover {
  text-decoration: underline;
}
